@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

body {
  font-family: "Josefin Sans", sans-serif;
  background-image: url("../mybg.jpg");
  background-color: #ffffff;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  overflow-y: hidden;
}

.landingHeader {
  margin-top: 220px;
}

.welcome {
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.landingFlex {
  display: flex;
  align-items: center;
  margin: auto;
  max-width: 10%;
  justify-content: center;
}

.myLink {
  text-decoration: none;
  background-color: white;
  padding: 8px 15px;
  border-radius: 5px;
  margin-right: 15px;
  color: black;
}

.myLink:hover {
  text-decoration: none;
  color: black;
}

@media (max-width: 768px) {
  .landingFlex {
    display: flex;
    align-items: center;
    margin: auto;
    max-width: 50%;
    justify-content: center;
  }
}
