body {
  background-color: #ccc;
}

.main-content {
  margin: auto;
  max-width: 60%;
}

.add-task {
  padding: 11px;
  margin-right: 5px;
  border: 1px solid #ccc;
}

.add-task:focus {
  outline: 0;
}

.btn-add {
  padding: 10px;
  margin-top: -3px;
}

.userData {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-data {
  font-weight: bold;
  font-size: 18px;
}

.task-list {
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
}

.filter {
  padding: 6px;
  border: 1px solid #ccc;
  margin-right: 50px;
}

.filter:focus {
  outline: 0;
  border: 1px solid #ccc;
}

.no {
  font-weight: bold;
}

.task-item {
  margin: 10px auto;
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-gap: 7px;
  border: 1px solid #ccc;
  width: 100%;
  padding: 5px;
}

@media (max-width: 768px) {
  .main-content {
    margin: auto;
    max-width: 90%;
  }
}

@media (max-width: 425px) {
  .task-item {
    margin: 10px auto;
    display: grid;
    grid-template-columns: 2fr;
    grid-gap: 7px;
    border: 1px solid #ccc;
    width: 100%;
    padding: 5px;
  }
}
