@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

.page-header {
  font-weight: bold;
}

.form-container {
  margin: auto;
  max-width: 50%;
  background: #ccc;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  padding: 30px;
}

.sign-up {
  font-weight: bold;
}

.errormessage {
  background-color: #ffc0cb8a;
  text-align: center;
  padding: 5px;
}

label {
  font-weight: bold;
}

.form-text {
  font-size: 12px;
  font-weight: bold;
}

.errorMessage {
  font-family: sans-serif;
  color: red;
  font-size: 8px;
  padding-top: 5px;
}

i {
  position: absolute;
  top: 63%;
  right: 30%;
}

i:hover {
  color: #00fcb6;
  cursor: pointer;
}

@media (max-width: 425px) {
  .form-container {
    margin: auto;
    max-width: 95%;
    border: 1px solid #ccc;
    padding: 30px;
  }
}
